USE [SindQR-Prueba]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 25/02/2024 2:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](40) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 25/02/2024 2:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[address] [nvarchar](200) NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profile]    Script Date: 25/02/2024 2:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profile](
	[profileId] [int] IDENTITY(1,1) NOT NULL,
	[systemId] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[objectACLId] [int] NOT NULL,
	[objectAcl_objectACLId] [int] NOT NULL,
 CONSTRAINT [PK_profile] PRIMARY KEY CLUSTERED 
(
	[profileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 25/02/2024 2:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roleparam]    Script Date: 25/02/2024 2:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roleparam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[paramId] [int] NULL,
	[roleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'Supervisor')
INSERT [dbo].[role] ([id], [name]) VALUES (3, N'Delegate')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[profile]  WITH NOCHECK ADD  CONSTRAINT [FK_profile_objectAcl] FOREIGN KEY([objectAcl_objectACLId])
REFERENCES [dbo].[objectAcl] ([objectACLId])
GO
ALTER TABLE [dbo].[profile] CHECK CONSTRAINT [FK_profile_objectAcl]
GO
ALTER TABLE [dbo].[roleparam]  WITH CHECK ADD  CONSTRAINT [fk_RPParam] FOREIGN KEY([paramId])
REFERENCES [dbo].[parameter] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[roleparam] CHECK CONSTRAINT [fk_RPParam]
GO
ALTER TABLE [dbo].[roleparam]  WITH CHECK ADD  CONSTRAINT [fk_RPRole] FOREIGN KEY([roleId])
REFERENCES [dbo].[role] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[roleparam] CHECK CONSTRAINT [fk_RPRole]
GO
