USE [SindQR-Prueba]
GO
/****** Object:  Table [dbo].[userCompany]    Script Date: 25/02/2024 2:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userCompany](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[companyId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userDepartment]    Script Date: 25/02/2024 2:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userDepartment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[departmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userlog]    Script Date: 25/02/2024 2:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userlog](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](80) NOT NULL,
	[lastName] [nvarchar](80) NULL,
	[email] [nvarchar](300) NOT NULL,
	[createdDt] [datetime] NOT NULL,
	[lastLoginDt] [datetime] NULL,
	[isActive] [bit] NULL,
	[phone] [nvarchar](50) NOT NULL,
	[userpassword] [nvarchar](max) NOT NULL,
	[authyId] [nvarchar](max) NULL,
	[fcmToken] [nvarchar](300) NULL,
	[padronID] [int] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userProfile]    Script Date: 25/02/2024 2:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userProfile](
	[userId] [int] NOT NULL,
	[profileId] [int] NOT NULL,
	[profile_profileId] [int] NULL,
	[users_userId] [int] NULL,
 CONSTRAINT [PK_userProfile_1] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[profileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userRole]    Script Date: 25/02/2024 2:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[userlog] ADD  DEFAULT ('') FOR [phone]
GO
ALTER TABLE [dbo].[userlog] ADD  DEFAULT ('') FOR [userpassword]
GO
ALTER TABLE [dbo].[userCompany]  WITH CHECK ADD  CONSTRAINT [fk_UCCompany] FOREIGN KEY([companyId])
REFERENCES [dbo].[company] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[userCompany] CHECK CONSTRAINT [fk_UCCompany]
GO
ALTER TABLE [dbo].[userCompany]  WITH CHECK ADD  CONSTRAINT [fk_UCUser] FOREIGN KEY([userId])
REFERENCES [dbo].[userlog] ([userId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[userCompany] CHECK CONSTRAINT [fk_UCUser]
GO
ALTER TABLE [dbo].[userDepartment]  WITH CHECK ADD  CONSTRAINT [fk_UUD] FOREIGN KEY([userId])
REFERENCES [dbo].[userlog] ([userId])
GO
ALTER TABLE [dbo].[userDepartment] CHECK CONSTRAINT [fk_UUD]
GO
ALTER TABLE [dbo].[userProfile]  WITH NOCHECK ADD  CONSTRAINT [FK_profile_userProfile] FOREIGN KEY([profile_profileId])
REFERENCES [dbo].[profile] ([profileId])
GO
ALTER TABLE [dbo].[userProfile] CHECK CONSTRAINT [FK_profile_userProfile]
GO
ALTER TABLE [dbo].[userProfile]  WITH NOCHECK ADD  CONSTRAINT [FK_users_userProfile] FOREIGN KEY([users_userId])
REFERENCES [dbo].[userlog] ([userId])
GO
ALTER TABLE [dbo].[userProfile] CHECK CONSTRAINT [FK_users_userProfile]
GO
ALTER TABLE [dbo].[userRole]  WITH CHECK ADD  CONSTRAINT [fk_role] FOREIGN KEY([roleId])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[userRole] CHECK CONSTRAINT [fk_role]
GO
ALTER TABLE [dbo].[userRole]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([userId])
REFERENCES [dbo].[userlog] ([userId])
GO
ALTER TABLE [dbo].[userRole] CHECK CONSTRAINT [fk_user]
GO
