USE [Padron]
GO
/****** Object:  Table [dbo].[academicGrade]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[academicGrade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[accidents]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accidents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datecreate] [datetime] NOT NULL,
	[dateaccident] [datetime] NOT NULL,
	[graficdate] [int] NOT NULL,
	[sm] [nvarchar](100) NULL,
	[place] [nvarchar](max) NULL,
	[zone] [nvarchar](max) NULL,
	[ecoplate] [nvarchar](max) NOT NULL,
	[percentage] [nvarchar](max) NOT NULL,
	[partnername] [nvarchar](max) NULL,
	[platessystem] [nvarchar](max) NULL,
	[otherplates] [nvarchar](max) NULL,
	[ecopatnerresponsable] [nvarchar](max) NULL,
	[patnerresponsable] [nvarchar](max) NULL,
	[responsiblepartner] [nvarchar](max) NULL,
	[nameoperator] [nvarchar](max) NULL,
	[badgeoperator] [nvarchar](max) NULL,
	[percentageoperator] [nvarchar](max) NULL,
	[numberfaultsoperator] [nvarchar](max) NULL,
	[ageoperator] [nvarchar](max) NULL,
	[antiquityoperator] [nvarchar](max) NULL,
	[licenseoperator] [nvarchar](max) NULL,
	[expirationlicense] [datetime] NOT NULL,
	[capturist] [nvarchar](max) NULL,
	[injured] [nvarchar](max) NULL,
	[numberpolicy] [nvarchar](max) NULL,
	[numbersinister] [nvarchar](max) NULL,
	[observationsfordelegate] [bit] NULL,
	[documentsannexed] [nvarchar](max) NULL,
	[damagetaxi] [nvarchar](max) NULL,
	[damageanothervehicle] [nvarchar](max) NULL,
	[otherdamages] [nvarchar](max) NULL,
	[specify] [nvarchar](max) NULL,
	[accidentdetail] [nvarchar](max) NULL,
	[observationbyoperator] [nvarchar](max) NULL,
	[taxireportobservation] [nvarchar](max) NULL,
	[serviceorder] [bit] NULL,
	[preliminaryinquiry] [bit] NULL,
	[criminalcause] [bit] NULL,
	[id_alcohol] [int] NOT NULL,
	[id_involved] [int] NOT NULL,
	[id_causeaccident] [int] NOT NULL,
	[id_typeaccident] [int] NOT NULL,
	[id_manageroperational] [int] NOT NULL,
	[id_policysecure] [int] NOT NULL,
	[id_insurance] [int] NOT NULL,
	[id_adjuster] [int] NOT NULL,
	[id_delegateoperational] [int] NOT NULL,
	[id_autoinsurance] [int] NOT NULL,
	[id_delegateintransit] [int] NOT NULL,
	[id_responsibleintransit] [int] NOT NULL,
	[id_managerinmp] [int] NOT NULL,
	[id_responsibleinmp] [int] NOT NULL,
	[id_licincourt] [int] NOT NULL,
	[id_responsibleincourt] [int] NOT NULL,
	[id_hospital] [int] NOT NULL,
	[id_garage] [int] NOT NULL,
	[id_confinement] [int] NOT NULL,
	[id_cranes] [int] NOT NULL,
	[id_responsable] [int] NOT NULL,
	[id_status_accident] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[timeaccident] [nvarchar](max) NOT NULL,
	[other_taxis] [nvarchar](max) NULL,
	[Unknown_driver_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[activist]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activist](
	[firstName] [nvarchar](50) NOT NULL,
	[lastNameF] [nvarchar](50) NOT NULL,
	[lastNameM] [nvarchar](50) NOT NULL,
	[authyId] [int] NOT NULL,
	[color] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[authyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[address_sectors]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address_sectors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[id_zone] [int] NOT NULL,
	[id_address] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adjuster]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adjuster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alcohol]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alcohol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[amazonPictures]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amazonPictures](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[bucket] [varchar](max) NULL,
	[key] [varchar](max) NULL,
	[pictureTypeId] [int] NOT NULL,
	[DtCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_AmazonPicture] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[pictureTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assignments]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assignments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[perfilId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[editedBy] [nvarchar](100) NOT NULL,
	[editedDate] [datetime] NOT NULL,
	[dateassignment] [datetime] NOT NULL,
	[note] [nvarchar](max) NULL,
	[comments] [nvarchar](max) NULL,
	[visit] [bit] NOT NULL,
	[statusAssignmentId] [int] NOT NULL,
	[mobilization] [bit] NOT NULL,
	[mobilizer] [bit] NOT NULL,
	[turn] [bit] NOT NULL,
	[dateVisit] [datetime] NULL,
	[activist] [nvarchar](max) NULL,
	[atend] [nvarchar](100) NULL,
	[socialNetwork] [nvarchar](100) NULL,
	[phoneCel] [nvarchar](100) NULL,
	[phoneHouse] [nvarchar](100) NULL,
	[tend] [int] NULL,
	[mhours] [nvarchar](max) NULL,
	[round] [int] NULL,
	[activistId] [int] NOT NULL,
	[tendCatalog] [int] NOT NULL,
	[observations] [varchar](max) NOT NULL,
	[phone] [varchar](max) NOT NULL,
	[id_address] [int] NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[autoinsurance]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autoinsurance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[box]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[box](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[active] [bit] NULL,
	[created_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[edited_by] [nvarchar](100) NULL,
	[edited_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[box_user]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[box_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[box_id] [int] NOT NULL,
	[user_Id] [int] NOT NULL,
	[active] [bit] NULL,
	[created_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[edited_by] [nvarchar](100) NULL,
	[edited_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidate]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[color] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capturists]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capturists](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[edited_at] [datetime] NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[edited_by] [nvarchar](100) NOT NULL,
	[authyId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoriesQuestProblems]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoriesQuestProblems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](1) NOT NULL,
	[category] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[causeaccident]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[causeaccident](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[stateId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[lastNameF] [nvarchar](100) NOT NULL,
	[lastNameM] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[celPhone] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[commentsreport]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commentsreport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comment] [text] NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[id_report] [int] NULL,
 CONSTRAINT [PK_commentsreport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](40) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[confinement]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[confinement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coordinates]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coordinates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lat] [nvarchar](20) NOT NULL,
	[long] [nvarchar](20) NOT NULL,
	[gps_id] [int] NULL,
	[dateCreated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cranes]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cranes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delegateintransit]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delegateintransit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delegateoperational]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delegateoperational](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[descriptionLoss]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[descriptionLoss](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[place] [nvarchar](max) NULL,
	[objectName] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[descriptionOperator]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[descriptionOperator](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[age] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[descriptionVehicle]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[descriptionVehicle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [nvarchar](100) NULL,
	[modelYear] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[cityId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[url] [nvarchar](500) NULL,
	[bucket] [nvarchar](500) NULL,
	[dateCreated] [datetime] NOT NULL,
	[CreateBy] [nvarchar](100) NULL,
	[dateDeleted] [datetime] NOT NULL,
	[isActive] [bit] NULL,
	[id_accident] [int] NULL,
	[id_report] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[userId] [int] NOT NULL,
	[emailPriorityTypeId] [int] NOT NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emailPriorityType]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emailPriorityType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fingerInfo]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fingerInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[data] [varchar](max) NOT NULL,
	[DtCreated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[garage]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[garage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gps]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[dateDeleted] [datetime] NOT NULL,
	[DeletedBy] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groupings]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groupings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hardvotes]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hardvotes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[partnerReference] [nvarchar](100) NULL,
	[firstName] [nvarchar](100) NULL,
	[lastNameF] [nvarchar](100) NULL,
	[lastNameM] [nvarchar](100) NULL,
	[networkId] [int] NOT NULL,
	[phone] [nvarchar](max) NULL,
	[created_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[edited_by] [nvarchar](100) NULL,
	[edited_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historyreport]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historyreport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[objectModel] [nvarchar](max) NOT NULL,
	[EditBy] [nvarchar](100) NOT NULL,
	[EditedBy] [nvarchar](100) NOT NULL,
	[EditedDate] [datetime] NOT NULL,
	[reportId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospitals]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospitals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidents]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[operatorgeneral_id] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[edited_date] [datetime] NOT NULL,
	[edited_by] [nvarchar](100) NOT NULL,
	[company_created_id] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[PerfilID] [int] NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[insurance]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[insurance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[involved]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[involved](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[licincourt]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[licincourt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[managerinmp]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[managerinmp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manageroperational]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manageroperational](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAPITAS]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAPITAS](
	[SM] [nvarchar](255) NULL,
	[SOC] [float] NULL,
	[25 Z] [float] NULL,
	[5 z] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[network]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[network](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[networkID] [int] NOT NULL,
	[partnerReference] [nvarchar](100) NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[lastNameF] [nvarchar](100) NOT NULL,
	[lastNameM] [nvarchar](100) NOT NULL,
	[colony] [nvarchar](100) NULL,
	[sm] [nvarchar](100) NULL,
	[mz] [nvarchar](100) NULL,
	[lt] [nvarchar](100) NULL,
	[dir] [nvarchar](max) NULL,
	[phone1] [nvarchar](100) NULL,
	[phone2] [nvarchar](100) NULL,
	[UserId] [int] NULL,
	[active] [bit] NULL,
	[number] [int] NULL,
	[created_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[edited_by] [nvarchar](100) NULL,
	[edited_at] [datetime] NULL,
	[alfaindex] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Network_capturist]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Network_capturist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Capturist] [int] NOT NULL,
	[id_Network] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[edited_at] [datetime] NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[edited_by] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[occupation]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occupation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[occupationsUsersList]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[occupationsUsersList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[occupationId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[active] [bit] NULL,
	[isValid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[occupationId] ASC,
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operatorgeneral]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operatorgeneral](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](40) NOT NULL,
	[LastnameF] [nvarchar](40) NOT NULL,
	[LastnameM] [nvarchar](40) NOT NULL,
	[curp] [nvarchar](100) NOT NULL,
	[company_created_id] [int] NOT NULL,
	[PerfilID] [int] NOT NULL,
	[userId] [int] NULL,
	[active] [bit] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[edited_date] [datetime] NOT NULL,
	[edited_by] [nvarchar](100) NOT NULL,
	[urlImage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[originReport]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[originReport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PanicAlert]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PanicAlert](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastNameMother] [varchar](50) NULL,
	[LastNameFather] [varchar](50) NULL,
	[id_op] [int] NULL,
	[id_user] [int] NULL,
	[id_log] [int] NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[dateCreate] [datetime] NULL,
	[active] [bit] NULL,
	[editedBy] [nvarchar](50) NULL,
	[editedAt] [datetime] NULL,
	[ReportTypeID] [int] NULL,
	[reportID] [int] NULL,
	[accidentID] [int] NULL,
	[ScannerEventID] [int] NULL,
	[panicAlertReportID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[panicAlertReport]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[panicAlertReport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subject] [nvarchar](200) NOT NULL,
	[reason] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateEdited] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[editedBy] [nvarchar](100) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partnerType]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partnerType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payrollCapturist]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payrollCapturist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Capturist] [int] NOT NULL,
	[userId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phoneType]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phoneType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pictureType]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pictureType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[policysecure]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[policysecure](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[polls]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[polls](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[id_telephoneoperators] [int] NOT NULL,
	[id_userPhone] [int] NOT NULL,
	[id_telephone_campaign] [int] NOT NULL,
	[quest1] [int] NOT NULL,
	[quest2] [text] NOT NULL,
	[quest3] [text] NOT NULL,
	[quest4] [text] NOT NULL,
	[quest5] [text] NOT NULL,
	[quest6] [bit] NULL,
	[quest7] [text] NOT NULL,
	[quest8] [text] NOT NULL,
	[quest9] [text] NOT NULL,
	[quest10] [text] NOT NULL,
	[tend] [int] NOT NULL,
	[quest12] [text] NOT NULL,
	[id_categoriesQuestProblems_1] [int] NULL,
	[id_categoriesQuestProblems_2] [int] NULL,
	[id_categoriesQuestProblems_3] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[departmentId] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[preBanner] [varchar](200) NOT NULL,
	[banner] [varchar](200) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[title] [varchar](max) NOT NULL,
	[details] [text] NOT NULL,
	[datecreate] [datetime] NOT NULL,
	[dateupdate] [datetime] NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [text] NOT NULL,
	[content] [text] NOT NULL,
	[flayer] [text] NOT NULL,
	[dateClose] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[postType] [int] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[priority]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[priority](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[tagClass] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rate]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [int] NOT NULL,
	[client_id] [int] NULL,
	[user_id] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateEdited] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[editedBy] [nvarchar](100) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relationShipStatus]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relationShipStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relationShipType]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relationShipType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[statusReportId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[EditedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[EditedBy] [nvarchar](100) NULL,
	[place] [nvarchar](max) NOT NULL,
	[ServiceDate] [datetime] NOT NULL,
	[economic] [nvarchar](100) NULL,
	[description] [nvarchar](max) NOT NULL,
	[priorityId] [int] NOT NULL,
	[originReportId] [int] NOT NULL,
	[reportTypeId] [int] NOT NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[title] [nvarchar](100) NOT NULL,
	[descriptionPlace] [nvarchar](max) NULL,
	[descriptionLossId] [int] NULL,
	[descriptionOperatorId] [int] NULL,
	[descriptionVehicleId] [int] NULL,
	[clientId] [int] NULL,
	[authyID] [int] NULL,
	[authyName] [nvarchar](60) NULL,
	[authyAsigmentBy] [nvarchar](60) NULL,
	[authyAsigmentDate] [datetime] NULL,
	[isActive] [bit] NOT NULL,
	[closeDate] [datetime] NULL,
	[closeBy] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report_Files]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_Files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[report_id] [int] NULL,
	[tracking_id] [int] NULL,
	[title] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[url] [nvarchar](max) NOT NULL,
	[bucket] [nvarchar](max) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[dateDeleted] [datetime] NULL,
	[DeletedBy] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportServices]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportServices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [int] NOT NULL,
	[client_id] [int] NULL,
	[user_id] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateEdited] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[editedBy] [nvarchar](100) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportUnit]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportUnit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [int] NOT NULL,
	[client_id] [int] NULL,
	[user_id] [int] NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[dateEdited] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[editedBy] [nvarchar](100) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsables]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsibleincourt]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsibleincourt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsibleinmp]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsibleinmp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[responsibleintransit]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[responsibleintransit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScannerEvent]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScannerEvent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](50) NULL,
	[id_user] [int] NULL,
	[partnerreferenceScan] [varchar](100) NULL,
	[FirstName] [varchar](50) NULL,
	[LastNameMother] [varchar](50) NULL,
	[LastNameFather] [varchar](50) NULL,
	[dateCreate] [datetime] NULL,
	[isActive] [bit] NULL,
	[typeScan] [varchar](100) NULL,
	[IdPadron] [int] NULL,
	[dateDisable] [datetime] NULL,
	[ReportTypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[section]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[section](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[districtId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sectionsTTE]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sectionsTTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sectors]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sectors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[id_zone_categorie] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sectors_categories]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sectors_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[state]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[state](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[countryCode] [nvarchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[hidden] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_accidents]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_accidents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusAssignment]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusAssignment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusReport]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusReport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[tagClass] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telephone_campaign]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telephone_campaign](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[datecreated] [datetime] NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[dateEdited] [datetime] NULL,
	[Edited_by] [nvarchar](100) NOT NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telephoneoperators]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telephoneoperators](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tracking]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tracking](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[dateCreated] [datetime] NOT NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[dateDeleted] [datetime] NOT NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[report_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typeaccident]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typeaccident](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partnerReference] [varchar](100) NOT NULL,
	[firstName] [varchar](max) NOT NULL,
	[lastNameF] [varchar](max) NOT NULL,
	[lastNameM] [varchar](max) NOT NULL,
	[createdDt] [date] NOT NULL,
	[partnerTypeId] [int] NOT NULL,
	[birthPlace] [varchar](100) NULL,
	[sex] [int] NOT NULL,
	[birthDate] [date] NULL,
	[userTypeId] [int] NOT NULL,
	[dtLastUpdate] [datetime] NULL,
	[relationShipStatusId] [int] NOT NULL,
	[statusId] [smallint] NOT NULL,
	[cafecude] [bit] NULL,
	[at] [bit] NULL,
	[active] [bit] NULL,
	[reason] [nvarchar](max) NULL,
	[createdBy] [nvarchar](max) NULL,
	[editBy] [nvarchar](max) NULL,
	[meeting] [int] NULL,
	[death] [bit] NULL,
	[enemy] [bit] NULL,
	[payroll] [bit] NULL,
	[ttesoc] [bit] NULL,
	[employee] [int] NULL,
	[employees] [bit] NULL,
	[noVote] [bit] NULL,
	[sectionId] [int] NULL,
	[candidateId] [int] NULL,
	[candidateHardvoteId] [int] NULL,
	[candidateQuizID] [int] NOT NULL,
	[gps_id] [int] NULL,
	[tsc] [bit] NULL,
	[rt] [bit] NULL,
	[googleplus] [nvarchar](max) NULL,
	[facebook] [nvarchar](max) NULL,
	[instagram] [nvarchar](max) NULL,
	[twitter] [nvarchar](max) NULL,
	[ttc_soc_eco] [nvarchar](10) NULL,
	[comments] [text] NULL,
	[rfc] [nvarchar](100) NULL,
	[ine] [nvarchar](100) NULL,
	[curp] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userAddress]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userAddress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[supermanzana] [varchar](20) NULL,
	[manzana] [varchar](20) NULL,
	[lote] [varchar](20) NULL,
	[street] [varchar](200) NULL,
	[interiorNumber] [varchar](20) NULL,
	[colony] [varchar](120) NULL,
	[postalCode] [varchar](20) NULL,
	[sectionId] [int] NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[address] [varchar](max) NULL,
	[address2] [varchar](max) NULL,
	[stateId] [int] NULL,
	[cityId] [int] NULL,
	[active] [bit] NULL,
	[zoneId] [int] NULL,
	[createdDate] [datetime] NULL,
	[editDate] [datetime] NULL,
	[createdBy] [nvarchar](max) NULL,
	[editBy] [nvarchar](max) NULL,
	[isValid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userBloodType]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userBloodType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userFamily]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userFamily](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[relationShipTypeId] [int] NOT NULL,
	[firstName] [varchar](max) NOT NULL,
	[lastNameF] [varchar](max) NOT NULL,
	[lastNameM] [varchar](max) NULL,
	[BirthDate] [date] NOT NULL,
	[email] [varchar](max) NOT NULL,
	[phone] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroupings]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[folio] [nvarchar](10) NULL,
	[position] [nvarchar](30) NULL,
	[id_grouping] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[datecreated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userHealthInformation]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userHealthInformation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[allergies] [varchar](200) NOT NULL,
	[organDonor] [bit] NOT NULL,
	[userId] [int] NOT NULL,
	[bloodTypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userOccupation]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userOccupation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[dtCreated] [date] NOT NULL,
	[positionId] [int] NULL,
	[academicGradeId] [int] NULL,
 CONSTRAINT [pk_useroccupationID] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOwner]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOwner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[ownerUserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userPhone]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userPhone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[phone] [varchar](30) NOT NULL,
	[phoneTypeId] [int] NOT NULL,
	[active] [bit] NULL,
	[isValid] [bit] NULL,
	[source] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userPhone_telephoneoperators_campaign]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userPhone_telephoneoperators_campaign](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_telephoneoperators] [int] NOT NULL,
	[id_userPhone] [int] NOT NULL,
	[id_telephone_campaign] [int] NOT NULL,
	[datecreated] [datetime] NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[dateEdited] [datetime] NULL,
	[Edited_by] [nvarchar](100) NOT NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userPrintedCard]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userPrintedCard](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dtPrintedCard] [date] NOT NULL,
	[userId] [int] NOT NULL,
	[printedBy] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userType]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zonasfinal]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zonasfinal](
	[SM] [nvarchar](255) NULL,
	[SOC] [float] NULL,
	[ZONA] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zone]    Script Date: 24/02/2024 22:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accidents] ADD  DEFAULT ((0)) FOR [observationsfordelegate]
GO
ALTER TABLE [dbo].[accidents] ADD  DEFAULT ((0)) FOR [serviceorder]
GO
ALTER TABLE [dbo].[accidents] ADD  DEFAULT ((0)) FOR [preliminaryinquiry]
GO
ALTER TABLE [dbo].[accidents] ADD  DEFAULT ((0)) FOR [criminalcause]
GO
ALTER TABLE [dbo].[accidents] ADD  DEFAULT ('00:00:00') FOR [timeaccident]
GO
ALTER TABLE [dbo].[activist] ADD  DEFAULT ('') FOR [color]
GO
ALTER TABLE [dbo].[address_sectors] ADD  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[amazonPictures] ADD  DEFAULT (getdate()) FOR [DtCreated]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ('') FOR [note]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ('') FOR [comments]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ((0)) FOR [visit]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ((0)) FOR [mobilization]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ((0)) FOR [mobilizer]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ((0)) FOR [turn]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ('') FOR [atend]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ('') FOR [socialNetwork]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ('') FOR [phoneCel]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ('') FOR [phoneHouse]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ((0)) FOR [tendCatalog]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ('') FOR [observations]
GO
ALTER TABLE [dbo].[assignments] ADD  DEFAULT ('') FOR [phone]
GO
ALTER TABLE [dbo].[box] ADD  DEFAULT ((0)) FOR [active]
GO
ALTER TABLE [dbo].[box] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[box] ADD  DEFAULT (getdate()) FOR [edited_at]
GO
ALTER TABLE [dbo].[box_user] ADD  DEFAULT ((0)) FOR [active]
GO
ALTER TABLE [dbo].[box_user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[box_user] ADD  DEFAULT (getdate()) FOR [edited_at]
GO
ALTER TABLE [dbo].[Capturists] ADD  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[Capturists] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Capturists] ADD  DEFAULT (getdate()) FOR [edited_at]
GO
ALTER TABLE [dbo].[Capturists] ADD  DEFAULT ('') FOR [created_by]
GO
ALTER TABLE [dbo].[Capturists] ADD  DEFAULT ('') FOR [edited_by]
GO
ALTER TABLE [dbo].[categoriesQuestProblems] ADD  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[categoriesQuestProblems] ADD  DEFAULT ('') FOR [category]
GO
ALTER TABLE [dbo].[commentsreport] ADD  DEFAULT ('') FOR [comment]
GO
ALTER TABLE [dbo].[commentsreport] ADD  DEFAULT ('') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[commentsreport] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT ((0)) FOR [isActive]
GO
ALTER TABLE [dbo].[email] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[fingerInfo] ADD  DEFAULT (getdate()) FOR [DtCreated]
GO
ALTER TABLE [dbo].[hardvotes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hardvotes] ADD  DEFAULT (getdate()) FOR [edited_at]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[network] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[network] ADD  DEFAULT (getdate()) FOR [edited_at]
GO
ALTER TABLE [dbo].[network] ADD  DEFAULT ('') FOR [alfaindex]
GO
ALTER TABLE [dbo].[Network_capturist] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Network_capturist] ADD  DEFAULT (getdate()) FOR [edited_at]
GO
ALTER TABLE [dbo].[Network_capturist] ADD  DEFAULT ('') FOR [created_by]
GO
ALTER TABLE [dbo].[Network_capturist] ADD  DEFAULT ('') FOR [edited_by]
GO
ALTER TABLE [dbo].[occupationsUsersList] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[occupationsUsersList] ADD  DEFAULT ((1)) FOR [isValid]
GO
ALTER TABLE [dbo].[operatorgeneral] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[PanicAlert] ADD  DEFAULT (getdate()) FOR [dateCreate]
GO
ALTER TABLE [dbo].[PanicAlert] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[PanicAlert] ADD  DEFAULT ('') FOR [editedBy]
GO
ALTER TABLE [dbo].[panicAlertReport] ADD  DEFAULT ('') FOR [subject]
GO
ALTER TABLE [dbo].[panicAlertReport] ADD  DEFAULT ('') FOR [reason]
GO
ALTER TABLE [dbo].[panicAlertReport] ADD  DEFAULT ('') FOR [description]
GO
ALTER TABLE [dbo].[panicAlertReport] ADD  DEFAULT (getdate()) FOR [dateCreated]
GO
ALTER TABLE [dbo].[panicAlertReport] ADD  DEFAULT ('') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[panicAlertReport] ADD  DEFAULT ('') FOR [editedBy]
GO
ALTER TABLE [dbo].[panicAlertReport] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ((0)) FOR [quest1]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest2]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest3]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest4]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest5]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest7]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest8]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest9]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest10]
GO
ALTER TABLE [dbo].[polls] ADD  DEFAULT ('') FOR [quest12]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT ('') FOR [preBanner]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT ('') FOR [banner]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT ('') FOR [url]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT ('') FOR [title]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT ('') FOR [details]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT (getdate()) FOR [datecreate]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[rate] ADD  DEFAULT ((0)) FOR [value]
GO
ALTER TABLE [dbo].[rate] ADD  DEFAULT (getdate()) FOR [dateCreated]
GO
ALTER TABLE [dbo].[rate] ADD  DEFAULT ('') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[rate] ADD  DEFAULT ('') FOR [editedBy]
GO
ALTER TABLE [dbo].[rate] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[report] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[report] ADD  DEFAULT (getdate()) FOR [EditedDate]
GO
ALTER TABLE [dbo].[report] ADD  DEFAULT ('') FOR [authyName]
GO
ALTER TABLE [dbo].[report] ADD  DEFAULT ('') FOR [authyAsigmentBy]
GO
ALTER TABLE [dbo].[report] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[report] ADD  DEFAULT ('') FOR [closeBy]
GO
ALTER TABLE [dbo].[reportServices] ADD  DEFAULT ((0)) FOR [value]
GO
ALTER TABLE [dbo].[reportServices] ADD  DEFAULT (getdate()) FOR [dateCreated]
GO
ALTER TABLE [dbo].[reportServices] ADD  DEFAULT ('') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[reportServices] ADD  DEFAULT ('') FOR [editedBy]
GO
ALTER TABLE [dbo].[reportServices] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[reportUnit] ADD  DEFAULT ((0)) FOR [value]
GO
ALTER TABLE [dbo].[reportUnit] ADD  DEFAULT (getdate()) FOR [dateCreated]
GO
ALTER TABLE [dbo].[reportUnit] ADD  DEFAULT ('') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[reportUnit] ADD  DEFAULT ('') FOR [editedBy]
GO
ALTER TABLE [dbo].[reportUnit] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ScannerEvent] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[sectors] ADD  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[sectors_categories] ADD  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[sectors_categories] ADD  DEFAULT ('') FOR [description]
GO
ALTER TABLE [dbo].[state] ADD  DEFAULT ('MX') FOR [countryCode]
GO
ALTER TABLE [dbo].[status] ADD  DEFAULT ((0)) FOR [hidden]
GO
ALTER TABLE [dbo].[telephone_campaign] ADD  DEFAULT (getdate()) FOR [datecreated]
GO
ALTER TABLE [dbo].[telephone_campaign] ADD  DEFAULT ('') FOR [created_by]
GO
ALTER TABLE [dbo].[telephone_campaign] ADD  DEFAULT ('') FOR [Edited_by]
GO
ALTER TABLE [dbo].[telephone_campaign] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[telephoneoperators] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((1)) FOR [statusId]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [cafecude]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [meeting]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [death]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [enemy]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [payroll]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [ttesoc]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [employee]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [employees]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [noVote]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((7)) FOR [candidateHardvoteId]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((7)) FOR [candidateQuizID]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [tsc]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [rt]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('') FOR [comments]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('') FOR [rfc]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('') FOR [ine]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('') FOR [curp]
GO
ALTER TABLE [dbo].[userAddress] ADD  DEFAULT ((0)) FOR [isValid]
GO
ALTER TABLE [dbo].[UserGroupings] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[UserGroupings] ADD  DEFAULT (getdate()) FOR [datecreated]
GO
ALTER TABLE [dbo].[userOccupation] ADD  DEFAULT (getdate()) FOR [dtCreated]
GO
ALTER TABLE [dbo].[userPhone] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[userPhone] ADD  DEFAULT ((0)) FOR [isValid]
GO
ALTER TABLE [dbo].[userPhone] ADD  DEFAULT ((0)) FOR [source]
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign] ADD  DEFAULT (getdate()) FOR [datecreated]
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign] ADD  DEFAULT ('') FOR [created_by]
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign] ADD  DEFAULT ('') FOR [Edited_by]
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[userPrintedCard] ADD  DEFAULT (getdate()) FOR [dtPrintedCard]
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_adjuster])
REFERENCES [dbo].[adjuster] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_alcohol])
REFERENCES [dbo].[alcohol] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_autoinsurance])
REFERENCES [dbo].[autoinsurance] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_causeaccident])
REFERENCES [dbo].[causeaccident] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_confinement])
REFERENCES [dbo].[confinement] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_cranes])
REFERENCES [dbo].[cranes] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_delegateoperational])
REFERENCES [dbo].[delegateoperational] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_delegateintransit])
REFERENCES [dbo].[delegateintransit] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_garage])
REFERENCES [dbo].[garage] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_hospital])
REFERENCES [dbo].[hospitals] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_involved])
REFERENCES [dbo].[involved] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_insurance])
REFERENCES [dbo].[insurance] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_licincourt])
REFERENCES [dbo].[licincourt] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_manageroperational])
REFERENCES [dbo].[manageroperational] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_managerinmp])
REFERENCES [dbo].[managerinmp] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_policysecure])
REFERENCES [dbo].[policysecure] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_responsibleintransit])
REFERENCES [dbo].[responsibleintransit] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_responsibleinmp])
REFERENCES [dbo].[responsibleinmp] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_responsibleincourt])
REFERENCES [dbo].[responsibleincourt] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_responsable])
REFERENCES [dbo].[responsables] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_status_accident])
REFERENCES [dbo].[status_accidents] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_typeaccident])
REFERENCES [dbo].[typeaccident] ([id])
GO
ALTER TABLE [dbo].[accidents]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[address_sectors]  WITH CHECK ADD FOREIGN KEY([id_address])
REFERENCES [dbo].[userAddress] ([id])
GO
ALTER TABLE [dbo].[address_sectors]  WITH CHECK ADD FOREIGN KEY([id_zone])
REFERENCES [dbo].[sectors] ([id])
GO
ALTER TABLE [dbo].[amazonPictures]  WITH CHECK ADD FOREIGN KEY([pictureTypeId])
REFERENCES [dbo].[pictureType] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[amazonPictures]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[assignments]  WITH CHECK ADD FOREIGN KEY([activistId])
REFERENCES [dbo].[activist] ([authyId])
GO
ALTER TABLE [dbo].[assignments]  WITH CHECK ADD FOREIGN KEY([id_address])
REFERENCES [dbo].[userAddress] ([id])
GO
ALTER TABLE [dbo].[assignments]  WITH CHECK ADD FOREIGN KEY([statusAssignmentId])
REFERENCES [dbo].[statusAssignment] ([id])
GO
ALTER TABLE [dbo].[assignments]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[box_user]  WITH CHECK ADD FOREIGN KEY([box_id])
REFERENCES [dbo].[box] ([id])
GO
ALTER TABLE [dbo].[box_user]  WITH CHECK ADD FOREIGN KEY([user_Id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[city]  WITH CHECK ADD FOREIGN KEY([stateId])
REFERENCES [dbo].[state] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[commentsreport]  WITH CHECK ADD FOREIGN KEY([id_report])
REFERENCES [dbo].[report] ([id])
GO
ALTER TABLE [dbo].[coordinates]  WITH CHECK ADD FOREIGN KEY([gps_id])
REFERENCES [dbo].[gps] ([id])
GO
ALTER TABLE [dbo].[district]  WITH CHECK ADD FOREIGN KEY([cityId])
REFERENCES [dbo].[city] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD FOREIGN KEY([id_accident])
REFERENCES [dbo].[accidents] ([id])
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD FOREIGN KEY([id_report])
REFERENCES [dbo].[report] ([id])
GO
ALTER TABLE [dbo].[email]  WITH CHECK ADD FOREIGN KEY([emailPriorityTypeId])
REFERENCES [dbo].[emailPriorityType] ([id])
GO
ALTER TABLE [dbo].[email]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fingerInfo]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hardvotes]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[hardvotes]  WITH CHECK ADD  CONSTRAINT [fk_network_hardvote] FOREIGN KEY([networkId])
REFERENCES [dbo].[network] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hardvotes] CHECK CONSTRAINT [fk_network_hardvote]
GO
ALTER TABLE [dbo].[historyreport]  WITH CHECK ADD FOREIGN KEY([reportId])
REFERENCES [dbo].[report] ([id])
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD FOREIGN KEY([company_created_id])
REFERENCES [dbo].[companies] ([id])
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD FOREIGN KEY([operatorgeneral_id])
REFERENCES [dbo].[operatorgeneral] ([id])
GO
ALTER TABLE [dbo].[network]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[Network_capturist]  WITH CHECK ADD FOREIGN KEY([id_Capturist])
REFERENCES [dbo].[Capturists] ([id])
GO
ALTER TABLE [dbo].[Network_capturist]  WITH CHECK ADD FOREIGN KEY([id_Network])
REFERENCES [dbo].[network] ([id])
GO
ALTER TABLE [dbo].[occupationsUsersList]  WITH CHECK ADD FOREIGN KEY([occupationId])
REFERENCES [dbo].[occupation] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[occupationsUsersList]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[operatorgeneral]  WITH CHECK ADD FOREIGN KEY([company_created_id])
REFERENCES [dbo].[companies] ([id])
GO
ALTER TABLE [dbo].[operatorgeneral]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[PanicAlert]  WITH CHECK ADD FOREIGN KEY([accidentID])
REFERENCES [dbo].[accidents] ([id])
GO
ALTER TABLE [dbo].[PanicAlert]  WITH CHECK ADD FOREIGN KEY([panicAlertReportID])
REFERENCES [dbo].[panicAlertReport] ([id])
GO
ALTER TABLE [dbo].[PanicAlert]  WITH CHECK ADD FOREIGN KEY([ReportTypeID])
REFERENCES [dbo].[ReportType] ([id])
GO
ALTER TABLE [dbo].[PanicAlert]  WITH CHECK ADD FOREIGN KEY([reportID])
REFERENCES [dbo].[report] ([id])
GO
ALTER TABLE [dbo].[PanicAlert]  WITH CHECK ADD FOREIGN KEY([ScannerEventID])
REFERENCES [dbo].[ScannerEvent] ([id])
GO
ALTER TABLE [dbo].[payrollCapturist]  WITH CHECK ADD FOREIGN KEY([id_Capturist])
REFERENCES [dbo].[Capturists] ([id])
GO
ALTER TABLE [dbo].[payrollCapturist]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[polls]  WITH CHECK ADD FOREIGN KEY([id_telephoneoperators])
REFERENCES [dbo].[telephoneoperators] ([id])
GO
ALTER TABLE [dbo].[polls]  WITH CHECK ADD FOREIGN KEY([id_telephone_campaign])
REFERENCES [dbo].[telephone_campaign] ([id])
GO
ALTER TABLE [dbo].[polls]  WITH CHECK ADD FOREIGN KEY([id_userPhone])
REFERENCES [dbo].[userPhone] ([id])
GO
ALTER TABLE [dbo].[polls]  WITH CHECK ADD FOREIGN KEY([tend])
REFERENCES [dbo].[candidate] ([id])
GO
ALTER TABLE [dbo].[polls]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[polls]  WITH CHECK ADD  CONSTRAINT [FK_polls_1] FOREIGN KEY([id_categoriesQuestProblems_1])
REFERENCES [dbo].[categoriesQuestProblems] ([id])
GO
ALTER TABLE [dbo].[polls] CHECK CONSTRAINT [FK_polls_1]
GO
ALTER TABLE [dbo].[polls]  WITH CHECK ADD  CONSTRAINT [FK_polls_2] FOREIGN KEY([id_categoriesQuestProblems_2])
REFERENCES [dbo].[categoriesQuestProblems] ([id])
GO
ALTER TABLE [dbo].[polls] CHECK CONSTRAINT [FK_polls_2]
GO
ALTER TABLE [dbo].[polls]  WITH CHECK ADD  CONSTRAINT [FK_polls_3] FOREIGN KEY([id_categoriesQuestProblems_3])
REFERENCES [dbo].[categoriesQuestProblems] ([id])
GO
ALTER TABLE [dbo].[polls] CHECK CONSTRAINT [FK_polls_3]
GO
ALTER TABLE [dbo].[Position]  WITH CHECK ADD FOREIGN KEY([departmentId])
REFERENCES [dbo].[department] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rate]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([clientId])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([descriptionLossId])
REFERENCES [dbo].[descriptionLoss] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([descriptionOperatorId])
REFERENCES [dbo].[descriptionOperator] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([descriptionVehicleId])
REFERENCES [dbo].[descriptionVehicle] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([originReportId])
REFERENCES [dbo].[originReport] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([priorityId])
REFERENCES [dbo].[priority] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([reportTypeId])
REFERENCES [dbo].[ReportType] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([statusReportId])
REFERENCES [dbo].[statusReport] ([id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[report_Files]  WITH CHECK ADD FOREIGN KEY([report_id])
REFERENCES [dbo].[report] ([id])
GO
ALTER TABLE [dbo].[report_Files]  WITH CHECK ADD FOREIGN KEY([tracking_id])
REFERENCES [dbo].[tracking] ([id])
GO
ALTER TABLE [dbo].[reportServices]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[reportUnit]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[ScannerEvent]  WITH CHECK ADD FOREIGN KEY([ReportTypeID])
REFERENCES [dbo].[ReportType] ([id])
GO
ALTER TABLE [dbo].[section]  WITH CHECK ADD FOREIGN KEY([districtId])
REFERENCES [dbo].[district] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sectors]  WITH CHECK ADD FOREIGN KEY([id_zone_categorie])
REFERENCES [dbo].[sectors_categories] ([id])
GO
ALTER TABLE [dbo].[tracking]  WITH CHECK ADD FOREIGN KEY([report_id])
REFERENCES [dbo].[report] ([id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([gps_id])
REFERENCES [dbo].[gps] ([id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([partnerTypeId])
REFERENCES [dbo].[partnerType] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([relationShipStatusId])
REFERENCES [dbo].[relationShipStatus] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([sectionId])
REFERENCES [dbo].[sectionsTTE] ([id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([statusId])
REFERENCES [dbo].[status] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([userTypeId])
REFERENCES [dbo].[userType] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [fk_candidate_hardvote_user] FOREIGN KEY([candidateHardvoteId])
REFERENCES [dbo].[candidate] ([id])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [fk_candidate_hardvote_user]
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD FOREIGN KEY([sectionId])
REFERENCES [dbo].[section] ([id])
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD FOREIGN KEY([stateId])
REFERENCES [dbo].[state] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD FOREIGN KEY([zoneId])
REFERENCES [dbo].[zone] ([id])
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD  CONSTRAINT [fk_UserAdCity] FOREIGN KEY([cityId])
REFERENCES [dbo].[city] ([id])
GO
ALTER TABLE [dbo].[userAddress] CHECK CONSTRAINT [fk_UserAdCity]
GO
ALTER TABLE [dbo].[userFamily]  WITH CHECK ADD FOREIGN KEY([relationShipTypeId])
REFERENCES [dbo].[relationShipType] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userFamily]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroupings]  WITH CHECK ADD FOREIGN KEY([id_grouping])
REFERENCES [dbo].[groupings] ([id])
GO
ALTER TABLE [dbo].[UserGroupings]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[userHealthInformation]  WITH CHECK ADD FOREIGN KEY([bloodTypeID])
REFERENCES [dbo].[userBloodType] ([id])
GO
ALTER TABLE [dbo].[userHealthInformation]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userOccupation]  WITH CHECK ADD FOREIGN KEY([academicGradeId])
REFERENCES [dbo].[academicGrade] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userOccupation]  WITH CHECK ADD FOREIGN KEY([positionId])
REFERENCES [dbo].[Position] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userOccupation]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserOwner]  WITH CHECK ADD FOREIGN KEY([ownerUserId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[UserOwner]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[userPhone]  WITH CHECK ADD FOREIGN KEY([phoneTypeId])
REFERENCES [dbo].[phoneType] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userPhone]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign]  WITH CHECK ADD  CONSTRAINT [FK_telephone_campaign] FOREIGN KEY([id_telephone_campaign])
REFERENCES [dbo].[telephone_campaign] ([id])
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign] CHECK CONSTRAINT [FK_telephone_campaign]
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign]  WITH CHECK ADD  CONSTRAINT [FK_telephoneoperators] FOREIGN KEY([id_telephoneoperators])
REFERENCES [dbo].[telephoneoperators] ([id])
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign] CHECK CONSTRAINT [FK_telephoneoperators]
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign]  WITH CHECK ADD  CONSTRAINT [FK_userphone_camp] FOREIGN KEY([id_userPhone])
REFERENCES [dbo].[userPhone] ([id])
GO
ALTER TABLE [dbo].[userPhone_telephoneoperators_campaign] CHECK CONSTRAINT [FK_userphone_camp]
GO
ALTER TABLE [dbo].[userPrintedCard]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScannerEvent]  WITH CHECK ADD CHECK  (([typeScan]='Socio' OR [typeScan]='Operador' OR [typeScan]='Carro'))
GO
