USE [SindQR]
GO
/****** Object:  StoredProcedure [dbo].[fdo_get_cards]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fdo_get_cards](
    -- Parametros de busqueda para mi formulario.   
    @PageNo INT = 1,
    @PageSize INT = 10,
	@taxi NVARCHAR(50) = NULL,
	@GafetValue NVARCHAR(50) = NULL,
	@NameValue NVARCHAR(50) = NULL,
	@FatherLastname NVARCHAR(50) = NULL,
	@MotherLastname NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON;
	-- Declaramos la query dinamica
    Declare @SQLQuery AS NVarchar(4000)
    Declare @ParamDefinition AS NVarchar(2000) 
    Declare @SQLQueryPaginator AS NVarchar(4000)

	SET @taxi = LTRIM(RTRIM(@taxi))
	SET @GafetValue = LTRIM(RTRIM(@GafetValue))
    SET @NameValue = LTRIM(RTRIM(@NameValue))
    SET @FatherLastname = LTRIM(RTRIM(@FatherLastname))
    SET @MotherLastname = LTRIM(RTRIM(@MotherLastname))

	SET @SQLQuery = '
	with CTE_Results as (
		select
		*
		from cards as c
		left join Chof_Detalle as cd on cd.CHOFER = c.partnerReference
		WHERE (1=1) ';
		--- MIS CONDICIONES DINAMICAS
		If @taxi Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND c.taxi = ''' + @taxi  + ''''

		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.CHOFER = ''' + @GafetValue  + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.NOMBRE LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.APELLIDOS LIKE '''+ '%' + @FatherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
		ORDER BY c.asignedDate desc
		OFFSET @PageSize * (@PageNo - 1) ROWS FETCH NEXT @PageSize ROWS ONLY
	), 
	
	CTE_TotalRows as (
		SELECT count(c.id) as TotalRows
		from cards as c
		left join Chof_Detalle as cd on cd.CHOFER = c.partnerReference
		WHERE (1=1)';
		--- MIS CONDICIONES DINAMICAS
		If @taxi Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND c.taxi = ''' + @taxi  + ''''
		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.CHOFER = ''' + @GafetValue  + ''''
		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.NOMBRE LIKE '''+ '%' + @NameValue + '%' + ''''
		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.APELLIDOS LIKE '''+ '%' + @FatherLastname + '%' + ''''
		Set @SQLQuery = @SQLQuery + '
	)
	select c.*, u.*,TotalRows from cards as c 
	left join Chof_Detalle as cd on cd.CHOFER = c.partnerReference
	left join [user] as u on u.partnerReference = c.partnerReference
	,CTE_TotalRows
	WHERE EXISTS (SELECT 1 FROM CTE_Results WHERE CTE_Results.id = c.id)
	order by c.asignedDate desc
	OPTION (RECOMPILE)';
	--select @SQLQuery as query, @PageNo as PageNo, @PageSize as PageSize, @taxi as Taxi;
	Set @ParamDefinition = '@PageNo INT,
		@PageSize INT'
	Execute sp_Executesql @SQLQuery,@ParamDefinition,@PageNo,@PageSize
END
GO
/****** Object:  StoredProcedure [dbo].[fdo_get_operator]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Fernando Agosto Cruz>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fdo_get_operator](
	@gafet nvarchar(50) = null
)
AS
BEGIN
	SET NOCOUNT ON;


	select top 1
	Cd.*,
	u.id as [userId],
	u.partnerReference,
	u.firstName,
	u.lastNameF,
	u.lastNameM,
	u.createdDt,
	u.partnerTypeId,
	u.birthPlace,
	u.sex, 
	u.birthDate,
	u.userTypeId,
	u.dtLastUpdate,
	u.relationShipStatusId,
	u.sectionId, 
	u.cafecude, 
	u.at, 
	u.active, 
	u.reason, 
	u.createdBy,
	u.editBy,
	u.meeting,
	u.death,
	u.enemy,
	u.payroll,
	u.ttesoc,
	u.noVote,
	u.sectionId,
	u.candidateId,
	u.candidateHardvoteId,
	u.candidateQuizID,
	u.gps_id,
	u.googleplus, 
	u.facebook,
	u.instagram,
	u.twitter,
	u.comments, 
	u.rfc as urfc,
	u.ine, 
	u.curp,
	img.bucket,
	img.[key],
	uh.allergies, 
	uh.organDonor,
	rs.name as realtionship,
	b.name as bloodType
	from Chof_Detalle as cd
	left join [user] as u on u.partnerReference = cd.CHOFER and u.active = 1
	left join [amazonPictures] as img on img.userId = u.id and img.pictureTypeId = 2
	left join [userHealthInformation] as uh on uh.userId = u.id
	left join [relationShipStatus] as rs on u.relationShipStatusId = rs.id
	left join [userBloodType] as b on b.id = uh.bloodTypeID
	where cd.CHOFER = @gafet;
END
GO
/****** Object:  StoredProcedure [dbo].[fdo_get_operators]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fdo_get_operators](
    -- Parametros de busqueda para mi formulario.   
    @PageNo INT = 1,
    @PageSize INT = 10,
	@GafetValue NVARCHAR(50) = NULL,
	@NameValue NVARCHAR(50) = NULL,
	@FatherLastname NVARCHAR(50) = NULL,
	@MotherLastname NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON;

	-- Declaramos la query dinamica
	
    Declare @SQLQuery AS NVarchar(4000)
    Declare @ParamDefinition AS NVarchar(2000) 
    Declare @SQLQueryPaginator AS NVarchar(4000)

	SET @GafetValue = LTRIM(RTRIM(@GafetValue))
    SET @NameValue = LTRIM(RTRIM(@NameValue))
    SET @FatherLastname = LTRIM(RTRIM(@FatherLastname))
    SET @MotherLastname = LTRIM(RTRIM(@MotherLastname))


	SET @SQLQuery = '
	
	with CTE_Results as (
		select 
		cd.CHOFER,
		cd.NOMBRE,
		cd.APELLIDOS,
		cd.SOBRENOMB, 
		cd.SEXO, 
		cd.FECHANAC,
		cd.LUGARNAC,
		cd.EDOCIVIL,
		cd.CREDELECTOR,
		cd.SECCION,
		cd.OCUPACION,
		cd.TIPOSANGRE,
		cd.CARTILLA,
		cd.ALERGIAS,
		cd.ESCOLARIDAD,
		cd.CONYUGE,
		cd.TELEFONO,
		cd.FONDDEF,
		cd.[STATUS],
		cd.SOC_ALTA,
		cd.FECHAING,
		cd.PATRON,
		cd.DOMICACT,
		cd.CIUDADACT,
		cd.DOMICANT,
		cd.CIUDADANT,
		cd.LICENCIA,
		cd.LICVENCE,
		
		cd.FECHABAJ,
		cd.OBS,
		cd.COMEN1,
		cd.FECHAOP,
		cd.ID_USUARIO,
		cd.FECHAEDIT,
		cd.ID_USUARIOEDIT,
		cd.FECHAREACTIVACION,
		cd.FIANZA,
		cd.Mayacaribe,
		cd.UltTaxi,
		cd.ULTTURNO,
		cd.SECRETARIA,
		cd.PUESTO,
		cd.PosicionPadron,
		cd.postemp,
		cd.strenta,
		cd.impacto,
		cd.imprimirenpadron,
		cd.edicioncontrolada,
		
		u.partnerReference,
		u.firstName,
		u.lastNameF,
		u.lastNameM,
		u.createdDt,
		u.partnerTypeId,
		u.birthPlace,
		u.sex,
		u.birthDate,
		u.userTypeId,
		u.dtLastUpdate,
		u.relationShipStatusId,
		u.statusId,
		u.cafecude,
		u.[at],
		u.active,
		u.reason,
		u.createdBy,
		u.editBy,
		u.meeting,
		u.death,
		u.enemy,
		u.payroll,
		u.ttesoc,
		u.employee,
		u.employees,
		u.noVote,
		u.sectionId,
		u.candidateId,
		u.candidateHardvoteId,
		u.candidateQuizID,
		u.gps_id,
		u.tsc,
		u.rt,
		u.googleplus,
		u.facebook,
		u.instagram,
		u.twitter,
		u.ttc_soc_eco,
		u.comments,
		u.rfc,
		u.ine,
		u.curp
		from Chof_Detalle as cd
		left join [user] as u on UPPER(cd.CHOFER) = UPPER(u.partnerReference) and u.active = 1
		WHERE (1=1)';
		--- MIS CONDICIONES DINAMICAS
		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.CHOFER = ''' + @GafetValue  + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.NOMBRE LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.APELLIDOS LIKE '''+ '%' + @FatherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
		ORDER BY NOMBRE,APELLIDOS asc
		OFFSET @PageSize * (@PageNo - 1) ROWS FETCH NEXT @PageSize ROWS ONLY
	), 
	
	CTE_TotalRows as (
		SELECT count(CHOFER) as TotalRows 
		from Chof_Detalle as cd
		where (1 = 1)';
		--- MIS CONDICIONES DINAMICAS
		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.CHOFER = ''' + @GafetValue  + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.NOMBRE LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.APELLIDOS LIKE '''+ '%' + @FatherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
	)
	Select c.*, img.bucket, img.[key], null as urlImage,TotalRows from dbo.Chof_Detalle as c 
	left join [user] as u on u.partnerReference = c.CHOFER
	left join [amazonPictures] as img on img.userId = u.id and img.pictureTypeId = 2
	,CTE_TotalRows
	WHERE EXISTS (SELECT 1 FROM CTE_Results WHERE CTE_Results.CHOFER = c.CHOFER)
	order by NOMBRE,APELLIDOS asc
	OPTION (RECOMPILE)';
	
	--select @SQLQuery as query, @PageNo as PageNo, @PageSize as PageSize;
	
	Set @ParamDefinition = '@PageNo INT,
		@PageSize INT'

	Execute sp_Executesql @SQLQuery,
				@ParamDefinition, 
                @PageNo, 
                @PageSize

END
GO
/****** Object:  StoredProcedure [dbo].[fdo_get_Partner]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Fernando Agosto Cruz>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fdo_get_Partner](
	@gafet nvarchar(50) = null
)
AS
BEGIN
	SET NOCOUNT ON;


	select top 1
	Cd.*,
	u.id as [userId],
	u.partnerReference,
	u.firstName,
	u.lastNameF,
	u.lastNameM,
	u.createdDt,
	u.partnerTypeId,
	u.birthPlace,
	u.sex, 
	u.birthDate,
	u.userTypeId,
	u.dtLastUpdate,
	u.relationShipStatusId,
	u.sectionId, 
	u.cafecude, 
	u.at, 
	u.active, 
	u.reason, 
	u.createdBy,
	u.editBy,
	u.meeting,
	u.death,
	u.enemy,
	u.payroll,
	u.ttesoc,
	u.noVote,
	u.sectionId,
	u.candidateId,
	u.candidateHardvoteId,
	u.candidateQuizID,
	u.gps_id,
	u.googleplus, 
	u.facebook,
	u.instagram,
	u.twitter,
	u.comments, 
	u.rfc as urfc,
	u.ine, 
	u.curp,
	img.bucket,
	img.[key],
	uh.allergies, 
	uh.organDonor,
	rs.name as realtionship,
	b.name as bloodType
	from Chof_Detalle as cd
	left join [user] as u on u.partnerReference = cd.CHOFER and u.active = 1
	left join [amazonPictures] as img on img.userId = u.id and img.pictureTypeId = 2
	left join [userHealthInformation] as uh on uh.userId = u.id
	left join [relationShipStatus] as rs on u.relationShipStatusId = rs.id
	left join [userBloodType] as b on b.id = uh.bloodTypeID
	where cd.CHOFER = @gafet;
END
GO
/****** Object:  StoredProcedure [dbo].[fdo_get_Partners]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[fdo_get_Partners](
    -- Parametros de busqueda para mi formulario.   
    @PageNo INT = 1,
    @PageSize INT = 10,
	@GafetValue NVARCHAR(50) = NULL,
	@NameValue NVARCHAR(50) = NULL,
	@FatherLastname NVARCHAR(50) = NULL,
	@MotherLastname NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON;

	-- Declaramos la query dinamica
	
    Declare @SQLQuery AS NVarchar(4000)
    Declare @ParamDefinition AS NVarchar(2000) 
    Declare @SQLQueryPaginator AS NVarchar(4000)

	SET @GafetValue = LTRIM(RTRIM(@GafetValue))
    SET @NameValue = LTRIM(RTRIM(@NameValue))
    SET @FatherLastname = LTRIM(RTRIM(@FatherLastname))
    SET @MotherLastname = LTRIM(RTRIM(@MotherLastname))


	SET @SQLQuery = '
	
	with CTE_Results as (
		select 
		cd.CHOFER,
		cd.NOMBRE,
		cd.APELLIDOS,
		cd.SOBRENOMB, 
		cd.SEXO, 
		cd.FECHANAC,
		cd.LUGARNAC,
		cd.EDOCIVIL,
		cd.CREDELECTOR,
		cd.SECCION,
		cd.OCUPACION,
		cd.TIPOSANGRE,
		cd.CARTILLA,
		cd.ALERGIAS,
		cd.ESCOLARIDAD,
		cd.CONYUGE,
		cd.TELEFONO,
		cd.FONDDEF,
		cd.[STATUS],
		cd.SOC_ALTA,
		cd.FECHAING,
		cd.PATRON,
		cd.DOMICACT,
		cd.CIUDADACT,
		cd.DOMICANT,
		cd.CIUDADANT,
		cd.LICENCIA,
		cd.LICVENCE,
		
		cd.FECHABAJ,
		cd.OBS,
		cd.COMEN1,
		cd.FECHAOP,
		cd.ID_USUARIO,
		cd.FECHAEDIT,
		cd.ID_USUARIOEDIT,
		cd.FECHAREACTIVACION,
		cd.FIANZA,
		cd.Mayacaribe,
		cd.UltTaxi,
		cd.ULTTURNO,
		cd.SECRETARIA,
		cd.PUESTO,
		cd.PosicionPadron,
		cd.postemp,
		cd.strenta,
		cd.impacto,
		cd.imprimirenpadron,
		cd.edicioncontrolada,
		
		u.partnerReference,
		u.firstName,
		u.lastNameF,
		u.lastNameM,
		u.createdDt,
		u.partnerTypeId,
		u.birthPlace,
		u.sex,
		u.birthDate,
		u.userTypeId,
		u.dtLastUpdate,
		u.relationShipStatusId,
		u.statusId,
		u.cafecude,
		u.[at],
		u.active,
		u.reason,
		u.createdBy,
		u.editBy,
		u.meeting,
		u.death,
		u.enemy,
		u.payroll,
		u.ttesoc,
		u.employee,
		u.employees,
		u.noVote,
		u.sectionId,
		u.candidateId,
		u.candidateHardvoteId,
		u.candidateQuizID,
		u.gps_id,
		u.tsc,
		u.rt,
		u.googleplus,
		u.facebook,
		u.instagram,
		u.twitter,
		u.ttc_soc_eco,
		u.comments,
		u.rfc,
		u.ine,
		u.curp
		from Chof_Detalle as cd
		left join [user] as u on UPPER(cd.CHOFER) = UPPER(u.partnerReference) and u.active = 1
		WHERE (1=1)';
		--- MIS CONDICIONES DINAMICAS
		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.CHOFER = ''' + @GafetValue  + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.NOMBRE LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.APELLIDOS LIKE '''+ '%' + @FatherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
		ORDER BY NOMBRE,APELLIDOS asc
		OFFSET @PageSize * (@PageNo - 1) ROWS FETCH NEXT @PageSize ROWS ONLY
	), 
	
	CTE_TotalRows as (
		SELECT count(CHOFER) as TotalRows 
		from Chof_Detalle as cd
		where (1 = 1)';
		--- MIS CONDICIONES DINAMICAS
		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.CHOFER = ''' + @GafetValue  + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.NOMBRE LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.APELLIDOS LIKE '''+ '%' + @FatherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
	)
	Select c.*, img.bucket, img.[key], null as urlImage,TotalRows from dbo.Chof_Detalle as c 
	left join [user] as u on u.partnerReference = c.CHOFER
	left join [amazonPictures] as img on img.userId = u.id and img.pictureTypeId = 2
	,CTE_TotalRows
	WHERE EXISTS (SELECT 1 FROM CTE_Results WHERE CTE_Results.CHOFER = c.CHOFER)
	order by NOMBRE,APELLIDOS asc
	OPTION (RECOMPILE)';
	
	--select @SQLQuery as query, @PageNo as PageNo, @PageSize as PageSize;
	
	Set @ParamDefinition = '@PageNo INT,
		@PageSize INT'

	Execute sp_Executesql @SQLQuery,
				@ParamDefinition, 
                @PageNo, 
                @PageSize

END
GO
/****** Object:  StoredProcedure [dbo].[fdo_get_soc]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fdo_get_soc](
    -- Parametros de busqueda para mi formulario.   
    @PageNo INT = 1,
    @PageSize INT = 10,
	@GafetValue NVARCHAR(50) = NULL,
	@NameValue NVARCHAR(50) = NULL,
	@FatherLastname NVARCHAR(50) = NULL,
	@MotherLastname NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON;

	-- Declaramos la query dinamica
	
    Declare @SQLQuery AS NVarchar(4000)
    Declare @ParamDefinition AS NVarchar(2000) 
    Declare @SQLQueryPaginator AS NVarchar(4000)

	SET @GafetValue = LTRIM(RTRIM(@GafetValue))
    SET @NameValue = LTRIM(RTRIM(@NameValue))
    SET @FatherLastname = LTRIM(RTRIM(@FatherLastname))
    SET @MotherLastname = LTRIM(RTRIM(@MotherLastname))


	SET @SQLQuery = '
	
	with CTE_Results as (
		select 
		cd.Id_Op,
		cd.Numero,
		cd.Nombre,
		cd.Paterno,
		cd.Materno,
		
		-- Padron 
		u.partnerReference,
		u.firstName,
		u.lastNameF,
		u.lastNameM,
		u.createdDt,
		u.partnerTypeId,
		u.birthPlace,
		u.sex,
		u.birthDate,
		u.userTypeId,
		u.dtLastUpdate,
		u.relationShipStatusId,
		u.statusId,
		u.cafecude,
		u.[at],
		u.active,
		u.reason,
		u.createdBy,
		u.editBy,
		u.meeting,
		u.death,
		u.enemy,
		u.payroll,
		u.ttesoc,
		u.employee,
		u.employees,
		u.noVote,
		u.sectionId,
		u.candidateId,
		u.candidateHardvoteId,
		u.candidateQuizID,
		u.gps_id,
		u.tsc,
		u.rt,
		u.googleplus,
		u.facebook,
		u.instagram,
		u.twitter,
		u.ttc_soc_eco,
		u.comments,
		u.rfc,
		u.ine,
		u.curp
		from Soc_DatPersonales as cd
		left join [user] as u on UPPER(cd.Numero) = UPPER(u.partnerReference) and u.active = 1
		WHERE (1=1)';
		--- MIS CONDICIONES DINAMICAS
		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.numero LIKE '''+ '%' + @GafetValue + '%' + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.NOMBRE LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.Paterno LIKE '''+ '%' + @FatherLastname + '%' + ''''
		
		If @MotherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.Materno LIKE '''+ '%' + @MotherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
		ORDER BY NOMBRE,Paterno,Materno asc
		OFFSET @PageSize * (@PageNo - 1) ROWS FETCH NEXT @PageSize ROWS ONLY
	), 
	
	CTE_TotalRows as (
		SELECT count(Numero) as TotalRows 
		from Soc_DatPersonales as cd
		where (1 = 1)';
		--- MIS CONDICIONES DINAMICAS
		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.numero LIKE '''+ '%' + @GafetValue + '%' + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.NOMBRE LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.Paterno LIKE '''+ '%' + @FatherLastname + '%' + ''''
		
		If @MotherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND cd.Materno LIKE '''+ '%' + @MotherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
	)
	Select c.*,TotalRows from dbo.Soc_DatPersonales as c, CTE_TotalRows
	WHERE EXISTS (SELECT 1 FROM CTE_Results WHERE CTE_Results.Numero = c.Numero)
	order by NOMBRE,Paterno,Materno asc
	OPTION (RECOMPILE)';
	
	--select @SQLQuery as query, @PageNo as PageNo, @PageSize as PageSize;
	
	Set @ParamDefinition = '@PageNo INT,
		@PageSize INT'

	Execute sp_Executesql @SQLQuery,
				@ParamDefinition, 
                @PageNo, 
                @PageSize

END
GO
/****** Object:  StoredProcedure [dbo].[fdo_get_users]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[fdo_get_users](
    -- Parametros de busqueda para mi formulario.   
    @PageNo INT = 1,
    @PageSize INT = 10,
	@GafetValue NVARCHAR(50) = NULL,
	@NameValue NVARCHAR(50) = NULL,
	@FatherLastname NVARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON;
	-- Declaramos la query dinamica
    Declare @SQLQuery AS NVarchar(4000)
    Declare @ParamDefinition AS NVarchar(2000) 
    Declare @SQLQueryPaginator AS NVarchar(4000)

	SET @GafetValue = LTRIM(RTRIM(@GafetValue))
    SET @NameValue = LTRIM(RTRIM(@NameValue))
    SET @FatherLastname = LTRIM(RTRIM(@FatherLastname))

	SET @SQLQuery = '
	with CTE_Results as (
		select ul.*,r.[name] as [RoleName] from userlog as ul 
		left join userRole as ur on ul.userId = ur.userId
		left join [role] as r on r.id = ur.roleId 
		left join [user] as u on ul.padronID = u.id
		WHERE (1=1) ';
		--- MIS CONDICIONES DINAMICAS

		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND u.partnerReference = ''' + @GafetValue  + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND ul.firstName LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND ul.lastName LIKE '''+ '%' + @FatherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
		ORDER BY ul.firstName, ul.lastName desc
		OFFSET @PageSize * (@PageNo - 1) ROWS FETCH NEXT @PageSize ROWS ONLY
	), 
	
	CTE_TotalRows as (
		SELECT count(ul.userId) as TotalRows from userlog as ul 
		left join userRole as ur on ul.userId = ur.userId
		left join [role] as r on r.id = ur.roleId 
		left join [user] as u on ul.padronID = u.id
		WHERE (1=1)';
		--- MIS CONDICIONES DINAMICAS
		If @GafetValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND u.partnerReference = ''' + @GafetValue  + ''''

		If @NameValue Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND ul.firstName LIKE '''+ '%' + @NameValue + '%' + ''''

		If @FatherLastname Is Not Null 
			Set @SQLQuery = @SQLQuery + ' AND ul.lastName LIKE '''+ '%' + @FatherLastname + '%' + ''''

		Set @SQLQuery = @SQLQuery + '
	)
	select ul.*, r.[name] as RoleName, u.partnerReference,TotalRows from userlog as ul
	left join userRole as ur on ul.userId = ur.userId
	left join [role] as r on r.id = ur.roleId
	left join [user] as u on ul.padronID = u.id
	,CTE_TotalRows
	WHERE EXISTS (SELECT 1 FROM CTE_Results WHERE CTE_Results.userId = ul.userId)
	order by ul.firstName, ul.lastName desc
	OPTION (RECOMPILE)';
	--select @SQLQuery as query, @PageNo as PageNo, @PageSize as PageSize;
	Set @ParamDefinition = '@PageNo INT,
		@PageSize INT'
	Execute sp_Executesql @SQLQuery,@ParamDefinition,@PageNo,@PageSize
END
GO
/****** Object:  StoredProcedure [dbo].[fdo_getEmplacamiento]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fdo_getEmplacamiento] 
	@gafet int =  NULL
AS
BEGIN
	SET NOCOUNT ON;
	SELECT TOP 1 e.*, em.Modelo as Modelo, ema.Marca as Marca  FROM [SindQR-Prueba].[dbo].[Emplacamiento] as e 
	left join EmplaModelo as em on em.Id_Modelo = e.Id_Modelo
	left join EmplaMarca as ema on ema.Id_Marca = e.Id_Marca
	where No_Economico = @gafet
	order by e.No_Economico, e.FechaOp desc;
END
GO
/****** Object:  StoredProcedure [dbo].[fdo_getEmplacamientoHistory]    Script Date: 04/04/2024 06:22:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fdo_getEmplacamientoHistory] 
	@gafet int =  NULL
AS
BEGIN
	SET NOCOUNT ON;
	SELECT e.*, em.Modelo, ema.Marca FROM [SindQR-Prueba].[dbo].[Emplacamiento] as e 
	left join EmplaModelo as em on em.Id_Modelo = e.Id_Modelo
	left join EmplaMarca as ema on ema.Id_Marca = e.Id_Marca
	where No_Economico = @gafet
	order by e.No_Economico, e.FechaOp desc;
END
GO
