<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<!--
  <connectionStrings>
    <add name="radiotaxiEntities" connectionString="metadata=res://*/radiotaxi.csdl|res://*/radiotaxi.ssdl|res://*/radiotaxi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=174.138.185.87;initial catalog=SindQR;user id=sa;password=gT7@xL9#pQ2!vRm;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BitacorasEntities" connectionString="metadata=res://*/bitacora.csdl|res://*/bitacora.ssdl|res://*/bitacora.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=174.138.185.87;initial catalog=Bitacoras;persist security info=True;user id=sa;password=gT7@xL9#pQ2!vRm;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Venta01Entities" connectionString="metadata=res://*/VentasDb.csdl|res://*/VentasDb.ssdl|res://*/VentasDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=174.138.185.87;initial catalog=Venta01;persist security info=True;user id=sa;password=gT7@xL9#pQ2!vRm;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	-->

	
  <connectionStrings>
    <add name="radiotaxiEntities" connectionString="metadata=res://*/radiotaxi.csdl|res://*/radiotaxi.ssdl|res://*/radiotaxi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=100.101.183.34;initial catalog=SindQR;user id=sa;password=Holamundo123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BitacorasEntities" connectionString="metadata=res://*/bitacora.csdl|res://*/bitacora.ssdl|res://*/bitacora.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=100.101.183.34;initial catalog=Bitacoras;persist security info=True;user id=sa;password=Holamundo123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Venta01Entities" connectionString="metadata=res://*/VentasDb.csdl|res://*/VentasDb.ssdl|res://*/VentasDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=100.101.183.34;initial catalog=Venta01;persist security info=True;user id=sa;password=Holamundo123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
 
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>